{% if breadcrumbItems.length %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
    <ol>
        {% for item in breadcrumbItems %}
        <li{% if loop.last %} aria-current="page"{% endif %}>
            {% if loop.last %}
            {{ item.name }}
            {% else %}
            <a href="{{ item.path }}">{{ item.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}
