{% if pagination.pages.length > 1 %}
    <nav role="navigation" aria-label="Pagination Navigation" class="split align-center">
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}" rel="prev" class="btn outline">Previous</a>
        {% else %}
            <span class="text-muted">Previous</span>
        {% endif %}

        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}" rel="next" class="btn outline">Next</a>
        {% else %}
            <span class="text-muted">Next</span>
        {% endif %}
    </nav>
{% endif %}
