---
layout: base.njk
title: Notes
---
<h1>Notes</h1>

<article class="margin-end-4xl">
    <h2 class="h3 margin-start-0 margin-end-0">
        {% if link %}
        <a href="{{ link }}" target="_blank">{{ title }}</a>
        {% else %}
        {{ title }}
        {% endif %}
    </h2>
    <p class="text-muted">
        {{ created_at | readableDate(true) }}
        {% if link %}
        | {{ link | hostname }}
        {% endif %}
    </p>

    {{ content | safe }}
</article>
