---
layout: base.njk
---
{% set category = collections.categories | categoryById(category_id) %}
<article role="blog">
    <h1>{{ title }}</h1>

    <p class="text-muted"><em>Posted {{ published_at | readableDate }}
    {% if category %}
    in <a href="/category/{{ category.fileSlug }}">{{ category.data.title }}</a>
    {% endif %}
    </em></p>

    {{ content | safe }}

    <a href="mailto:hello@philstephens.com?subject=Comment%3A%20{{ title | urlencode }}" class="text-muted cluster gap-6xs margin-start-4xl">
        Email a comment

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="1.5rem">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
        </svg>
    </a>
</article>
