---
layout: base.njk
permalink: /404.html
title: Page not found
description: The requested page could not be found on philstephens.com.
eleventyExcludeFromCollections: true
---
<h1>Page not found</h1>

<p>Sorry, I couldn&rsquo;t find the page you&rsquo;re looking for.</p>

<p><a href="/">Return to the homepage</a></p>
