---
permalink: /posts/index.html
eleventyExcludeFromCollections: true
---
<!doctype html><html lang="en-AU"><head><meta charset="utf-8"><meta http-equiv="refresh" content="0; url=/blog/"><link rel="canonical" href="{{ '/blog/' | absoluteUrl }}"><title>Moved · {{ site.name }}</title></head><body><p>This page has moved to <a href="/blog/">the blog</a>.</p></body></html>
